.collection-item{
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 320px;
    align-items: center;
    position: relative;

    &:hover{
        opacity: 0.8;

        .custom-button{
            opacity: 1;
            display: block;
        }
    }

    .custom-button{
        width: 80%;
        position: absolute;
        top: 230px;
        opacity: 0.7;
        display: none;
    }

    .image{
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .collection-footer{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        .name{
            width: 90%;
            margin-bottom: 15px;
        }

        .price{
            width: 10%;
        }
    }
}