
$main-color : black;
$sub-color : grey;

.group{
    margin: 45px 0;
    position: relative;

    .form-input{
        background: none;
        border: none;
        outline: none;
        background-color: #fff;
        color: $sub-color;
        padding: 10px 10px 10px 5px;
        font-size: 18px;
        display: block;
        width: 100%;
        border-bottom: 1px solid $sub-color;
        margin: 25px 0;

        &:focus ~.form-label{
            color: black;
            top: -14px;
            font-size: 12px;
        }
    }

    input[type="password"]{
        letter-spacing: 0.3rem;
    }

    .form-label{
        color: $sub-color;
        font-size: 16px;
        position: absolute;
        top: 5px;
        left: 5px;
        transition: 300ms ease all;
    }
} 

